.base-cyan {
    background: #4dccff;
}

.base-naranja {
    background: #ff9156;
}

.base-morado {
    background: #5f67ec;
}

.base-rojo {
    background: #f67162;
}

.base-azul {
    background: #323781;
}